body {
  background-color: rgb(0, 0, 0); /* Background color set to gray */
  color: green; /* Sets the text color to green */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  min-height: 100vh; /* Ensures the background color covers the full viewport height */
  font-family: Arial, sans-serif; /* Optional: Sets a default font for the app */
}

  /* 06D001 */
